* {
  font-family: Arial, Helvetica, Arial;  
}

body {
 padding: 60px;
}

input {
  margin-top: 1%;
  width: 100%;
  font-size: 1.3rem;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border-radius: 6px;
  align-content: center;
  border: solid 1px gray;
  overflow: hidden;
  margin-bottom: 10px;
}

.card img {
  max-height: 170px;
}

.card p {
  padding: 5px;
  text-align: center;
}

